@import './utils/_colors';
@import './utils/_breakpoints';
@import './utils/mixins';

@import './base/_font';
@import './base/_headings';
@import './base/_buttons';

@import './layouts/_nav';
@import './layouts/navMobile';
@import './layouts/_footer';
@import './layouts/_articleTicket';
@import './layouts/_article';
@import './layouts/_breakpoint';
@import './layouts/_card';
@import './layouts/_switch';
@import './layouts/_bannerFooter';


@import './pages/_home';
@import './pages/_stories';
@import './pages/_features';
@import './pages/_pricing';



