.card {
    width: 350px;
    @include tablet-only {
        display: none;
    }
    @include mobile-only {
        display: flex;
        width: 90%;
        margin: 5% 0;
    }
    @include displayFlex(column, center, center);
    &--title {
        margin: 10px 0;
    }
    &--paragraph {
        width: 73%;
        text-align: center;
        margin: 10px 0;
        font-weight: 100;   
    }
    &--price {
        font-size: 40px;
        font-weight: 500;
        margin: 10px 0;
    }
    &--button {
        width: 270px;
        height: 40px;
        background-color: $pureBlack;
        color: $pureWhite;
        margin-top: 50px;
        &:hover {
            &::after {
                content: "";
                background-color: $lightGrey;
                transform-origin: left;
                color: $pureWhite;
                animation: hoverBtn .3s ease-out forwards;
                top: 0;
                height: 100%;
            };
            &::before {
                content: "PICK PLAN";
                z-index: 10;
                position: absolute;
                color: $pureBlack;
            }
            @keyframes hoverBtn {
                0% { transform: scaleX(0);}
                100% { transform: scaleX(1);}
            }
          
        }
        
        
        @include mobile-only {
            width: 220px;
        }
    }
}

.card--normal {
    height: 407px;
    background-color: $veryLightGrey;
}

.card--pro {
    height: 470px;
    background-color: $pureBlack;
    color: $pureWhite;
    margin: 0 3% ;
    position: relative;
    &::before {
        content : "";
        width: 100%;
        height: 6px;
        background: linear-gradient(to left, #FFC593, #BC7198, #5A77FF);
        position: absolute;
        top: 0;
        @include mobile-only {
            background: linear-gradient(to left, #5A77FF, #BC7198, #FFC593);
        
        }
    }
    .card--button {
        background-color: $pureWhite;
        color: $pureBlack;
    }
}

.cardTablet {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 270px;
    margin: 2% auto;
    display: none;
    @include tablet-only {
        display: flex;
    }
    @include mobile-only {
        display: none;
    }
    &--text {
        width: 40%;
        margin: auto 0;
        .card--paragraph {
            width: 80%;
            text-align: left;
        }
    }
    &--price {
        width: 30%;
        height: 201px;
        margin: auto 0;
        text-align: end;
    }
}
.cardTablet--normal {
    background-color: $veryLightGrey;
}

.cardTablet--pro {
    background-color: $pureBlack;
    color: $pureWhite;
    position: relative;
    &::before {
        content : "";
        width: 6px;
        height: 100%;
        background: linear-gradient( #5A77FF, #BC7198, #FFC593);
        position: absolute;
        left: 0;
    }
    .card--button {
        background-color: $pureWhite;
        color: $pureBlack;
    }
}