.navMenu {
    @include widthHeight(100%, 72px);
    @include displayFlex(row, center, center);
    background-color: #FFF;
    &--desktop {
        @include widthHeight(1110px, 40px);
        @include displayFlex(row, space-between, center);
        margin: auto;
        &_links {
            @include widthHeight(269px, 16px);
            @include displayFlex(row, space-between, center);
            a:hover::after {
                background-color: $pureBlack;
            }
        }
        @include mobile-only {
            display: none;
        }
    }
}
